@model IEnumerable<RentaCar.Models.factuur>

@{
	ViewBag.Title = "Index";
}


<br />

<center><h2>Factuur</h2></center>

<br />


<p>
	@Html.ActionLink("Aanmaken", "Create")
</p>

<br />

<table class="table">
	<tr>
		<th>
			Factuur ID
		</th>
		<th>
			Voornaam
		</th>
		<th>
			Achternaam
		</th>
		<th>
			Auto
		</th>
		<th>
			Begin Datum
		</th>
		<th>
			Eind Datum
		</th>
		<th></th>
	</tr>

	@foreach (var item in Model)
	{
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.factuurnummer)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.klant.voorletters)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.factuurtotaal)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.medewerker.voorletters)
			</td>
			<td>
				@Html.ActionLink("Edit", "Edit", new { id = item.factuurnummer }) |
				@Html.ActionLink("Details", "Details", new { id = item.factuurnummer }) |
				@Html.ActionLink("Delete", "Delete", new { id = item.factuurnummer })
			</td>
		</tr>
	}

</table>
